
* {
	margin: 0;
	padding: 0;
}

body {
	background: #e3e2de;
}

#index_c {
	padding-top: 100px;
}

#logo {
	margin: 0px auto;
	display: block;
	width: 210px;
	margin-bottom: 20px;
}

p {
	font-family: "Bookman Old Style", "Georgia", serif;
	color: #656360;
	text-align: center;
	font-size: 10pt;
}

#genderSelector {
	margin: 10px auto;
	width: 290px;
}

#genderSelector a {
	font-family: "Bookman Old Style", "Georgia", serif;
	font-style: italic;
	display: block;
	float: left;
	text-decoration: none;
	font-size: 12pt;
	color: #656360;
	background: #f3f0f7;
	text-align: center;
	padding: 5px 20px;
	line-height: 20pt;
	width: 55px;
	margin-right: 2px;
}

#genderSelector a#n {
	font-size: 9pt;
	line-height: 1.1;
}

#genderSelector a:first-child {
	border-radius: 10px 0px 0px 10px; 
	-moz-border-radius: 10px 0px 0px 10px; 
	-webkit-border-radius: 10px 0px 0px 10px;
}

#genderSelector a:last-child {
	margin-right: 0px;
	border-radius: 0px 10px 10px 0px; 
	-moz-border-radius: 0px 10px 10px 0px; 
	-webkit-border-radius: 0px 10px 10px 0px;
}

#genderSelector img {
	margin: 0px auto;
	height: 70px;
	display: block;
}

#header {
	position: relative;
	background: #538fb6;
	padding: 10px 0px;
}

#logo_small {
	margin: 0px auto;
	display: block;
}

#gear {
	position: absolute;
	top: 7px;
	right: 10px;
}

#viewOptions {
	margin: 10px auto;
	position: relative;
	width: 120px;
}

#viewOptions button.chosen_button {
	background: #477fa4;
}

#viewOptions button {
	background: #538fb6;
	color: #fff;
	font-family: "avenir", "helvetica", sans-serif;
	margin: 0;
	border: 0;
	padding: 5px 15px;
	font-size: 12pt;
}

#list_view_button {
	border-radius: 10px 0px 0px 10px; 
	-moz-border-radius: 10px 0px 0px 10px; 
	-webkit-border-radius: 10px 0px 0px 10px;
}

#map_view_button {
	border-radius: 0px 10px 10px 0px; 
	-moz-border-radius: 0px 10px 10px 0px; 
	-webkit-border-radius: 0px 10px 10px 0px;
}

#list .sign {
	width: 30px;
}

ul li, ul {
	list-style: none outside none;
}

#list li {
	background: #f3f0f7;
	overflow: auto;
	padding: 15px;
	width: 250px;
	margin: 0px auto;
	margin-bottom: 5px;
}

#list li:first-child {
	border-radius: 10px 10px 1px 1px; 
	-moz-border-radius: 10px 10px 1px 1px; 
	-webkit-border-radius: 10px 10px 1px 1px;
}

#list li:last-child {
	border-radius: 1px 1px 10px 10px; 
	-moz-border-radius: 1px 1px 10px 10px;
	-webkit-border-radius: 1px 1px 10px 10px;
}

#list .sign {
	float: left;
}

#list .distance {
}

#list .location {
	font-weight: 700;
}

#list p {
	font-family: "avenir", "helvetica", sans-serif;
	text-align: left;
	position: relative;
	top: 10px;
	left: 10px;
}

#list .pin {
	float: right;
	vertical-align: middle;
	margin-top: 5px;
}